* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    background: linear-gradient( rgb(31, 31, 31), rgb(20, 20, 20));
    color: #fefefe;
}

b {
    font-size: 1.25rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.left-header {
    margin: 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-header span {
    color: cyan;
}

.left-header p {
    font-size: 0.75rem;
    margin: 0px 1vw;
}

.right-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-header a {
    margin: 1vh 1vw;
    text-decoration: none;
    color: cyan;
}

.stacks {
    padding-top: 2.5%;
    padding-right: 75px;
}

.skills-carousel {
    position: relative;
    left: -75px;
    overflow: hidden;
    height: 250px;
    max-width: 100%; 
    display: flex;
    flex-direction: row;
}

.skill-container {
    position: absolute;
    left: -75px;
    top: calc(125 - 75)px;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 150px;
    animation-name: skill-container;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes skill {
    /* 12.5% increments for the 8 skills inside the carousel */
    0% {width: 50px; height: 50px;top: 0px;opacity: 0.1;}
    25% {width: 100px; height: 100px; top: 40px;}
    37.5% {top: 60px;opacity: 0.2}
    50% {opacity: 1;width: 150px; height: 150px; top: 70px;}
    62.5% {top: 60px;opacity: 0.2}
    75% {width: 100px; height: 100px;top: 40px;}
    100% {width: 50px; height: 50px;top: 0px;opacity: 0.1;}
}

@keyframes skill-container {
    0% {left: 50%; z-index: 1}
    12.5% {z-index: 2; left: 38.5%;}
    25% {left: 25%;z-index: 3}
    37.5% {z-index: 4; left: 38.5%;}
    50% {left: 50%;z-index: 5}
    62.5% {z-index: 4; left: 62.5%;}
    75% {left: 75%;z-index: 3}
    87.5% {z-index: 2; left: 62.5%;}
    100% {left: 50%;z-index: 1}
}

.skill {
    position: absolute;
    top: 50%;
    max-height: 150px;
    max-width: 150px;
    animation-name: skill;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.anim2 {
    animation-delay: -2s;
}