* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
}

.App {
    overflow:hidden;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: #E6E6E6;
    font-size: 5rem;
}

li {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.header-bar {
    display: flex;
    padding: 5px;
    flex-direction: row;
    background-color: #004FFF;
    height: 15vh;
    clip-path: polygon(100% 0%,100% 75%,0% 100%, 0% 0%);
}

.left-header {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    width: 100%;
}

.header-text {
    position: relative;
    color: #EEF8FB;
    padding: 5px;
    transform: rotateZ(-1deg);
}

.header-text {
    color: #EEF8FB;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    vertical-align: top;
}

.name-title {
    display: flex;
    flex-direction: row;
}

.name-text, h1{
    position: relative;
    top: -35px;
    font-size:5rem;
}

.info {
    font-size: 1rem;
    position: relative;
    top: -40px;
}

.profile-pic {
    height: 100%;
    width: 25vh;
    max-width: 100vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-control-div {
    transform: rotateZ(-0.75deg);
    overflow:hidden;
    max-width: 120%;
    position: relative;
    left: -10vw;
    width: 120vw;
}

.nav-bar {
    display: flex;
    padding: 5px;
    flex-direction: row;
    background-color: #004FFF;
    max-width: 100%;
    position: relative;
    left: -5vw;
    width: 100%;
    height: 7.5vh;
    justify-content: space-evenly;
    align-items: center;
    clip-path: polygon(100% 0%,100% 75%,0% 100%, 0% 25%);
}

.nav-bar a {
    color: #EEF8FB;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    background-color: transparent;
    transform: rotateZ(-.75deg);
    border: none;
    cursor:pointer;
}

.abt-me-btn {
    position: relative;
    top: 2px;
}

.proj-btn {
    position: relative;
    top: -3px;
}

.about, .projects {
    margin-top: 5%;
    margin-left: 5%;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mathias {
    position: relative;
    /* top: -10vh; */
    filter: contrast(200%);
}

.about-text{
    position: relative;
    top: -5vh;
    margin-left: 5%;
    margin-right: 10%;
    z-index: 2;
}

.project {
    display: flex;
    flex-direction: row;
}

.project-text {
    font-size: 1.5rem;
    max-width: 45%;
    margin-left: 5%;
    margin-right: 10%;
}
.project-text p {
    font-size: 1.125rem;
}

.project-image {
    max-width: 25%;
    height: fit-content;
    border: rgba(0,0,0,0.2) 2px solid;
    border-radius: 3px;
}

.skills-container {
    position: relative;
    top: 10vh;
    height: 15vh;
}

.skills-imgs {
    position: relative;
    top: -5vh;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}

.skills-imgs li {
    list-style: none;
}

@media screen and (max-width: 1024px) {
    .frontend-developer {
        display: none;
    }
    .mathias {
        display: none;
    }

    .left-header {
        max-width: 100%;
    }

    .header-text h1, h1 {
        transform: rotateZ(-1.25deg);
    }

    .nav-control-div{
        transform: rotateZ(-1deg);
    }

    .nav-bar a {
        transform: rotateZ(-0.75deg);
    }

    .projects-link-pc {
        display: none;
    }
}

/* @media screen and (max-width: 905px) {
    .header-text {
        font-size: 2rem;
    }
} */

@media screen and (max-width: 610px) {
    h2 {
        font-size: 2rem;
    }

    .nav-bar a {
        position: relative;
        font-size: 1.25rem;
        right: -20px;
    }

    .about-text {
        top: 0px;
    }

    .header-text {
        justify-content: center;
    }
    .name-text {
      font-size: 10vw;
      text-align: center;
      transform: rotateZ(-2.5deg);
      top: 0px;
    }

    .info {
        text-align: center;
        transform: rotateZ(-2.5deg);
        top: -12px;
        font-size: 1.5rem;
    }


    .left-header h1 {
        padding: 0px;
    }

    .nav-control-div {
        transform: rotateZ(-3deg);
    }
    
    .nav-bar a {
        transform: rotateZ(-2.5deg);
    }

    .profile-pic {
        display: none;
    }
    .project {
        flex-direction: column;
    }

    .project-image {
        margin-top: 20px;
        max-width: 80%;
    }
  }